<p style="color: green"><%= notice %></p>

<h1>Urls</h1>

<div id="urls">
 <table class="table">
      <thead>
        <tr>
          <th scope="col">Short URL</th>
          <th scope="col">Long URL</th>
          <th scope="col">Description</th>
          <th scope="col">Edit / Delete</th>
        </tr>
      </thead>
      <tbody>

  <% @urls.each do |url| %>
    <tr>
      <td>
        <a href="/u/<%= url.short_url %>" target="_blank">
        <%= url.short_url %></td>
        </a>
      <td><%= url.long_url %></td>
      <td><%= url.description %></td>
      <td>
        <form action="/urls/<%= url.id%>">
        <% if (!current_user || url.user_id != current_user.id) %>
          <button disabled>Edit this URL</button>
          <% else %>
          <button>Edit this URL</button>
        <% end %>
        </form>


      </td>
    </tr>
  <% end %>
      </tbody>
      </table>

</div>

